<!-- Top footer -->


<footer class="border-t border-black/20 mt-0 pt-6 md:pt-8 pb-10 md:pb-16 font-montserrat uppercase tracking-[2px] text-[#191118]">
  <div class="container mx-auto max-w-screen-xl text-center text-[9px] md:text-[10px]">

    <!-- allineamento verticale al centro su desktop -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-10 mt-7 md:gap-0 md:items-center">
      <div>
  <h6 class="leading-relaxed">
    <a
      href="https://instagram.com/marysszang/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-[#191118] hover:opacity-70 transition-opacity"
    >
      @marysszang
    </a>
    <br/>
    creative ideas
  </h6>
</div>

      <div><h6 class="leading-relaxed">working in <br/> milan, italy</h6></div>
      <div>
  <h6 class="leading-relaxed">
  <a
  href="mailto:info@maryssedesign.com?subject=Info%20request"
  class="footer-mail text-[#191118]"
>
  info@maryssedesign.com
</a>

    <br/>
    + 39 346 6600169
  </h6>
</div>


      <!-- SOCIAL: più spazio sotto su mobile -->
      <div>

        
       <div class="flex items-center justify-center gap-4 mb-4 md:mb-0">

  <a href="https://instagram.com/marysszang/" target="_blank" rel="noopener" aria-label="Instagram"
     class="inline-flex items-center justify-center w-9 h-9">
    <img src="/images/icons/Instagram.svg" alt="Instagram" class="footer-icon" />
  </a>

  <a href="https://www.behance.net/marysse93" target="_blank" rel="noopener" aria-label="Behance"
     class="inline-flex items-center justify-center w-9 h-9">
    <img src="/images/icons/Behance.svg" alt="Behance" class="footer-icon" />
  </a>

  <a href="https://it.linkedin.com/in/marysse" target="_blank" rel="noopener" aria-label="LinkedIn"
     class="inline-flex items-center justify-center w-9 h-9">
    <img src="/images/icons/LinkedIn.svg" alt="LinkedIn" class="footer-icon" />
  </a>

</div>

      </div>
    </div>
  </div>
</footer>

<!-- Bottom footer -->
<footer class="bg-[#191118] pt-12 pb-12 font-montserrat uppercase tracking-[2px] text-[#a5a0a5]">
  <div class="container mx-auto max-w-screen-xl">
    <div class="text-center text-[9px] md:text-[10px] space-y-5">
      <div>
        <img src="/images/Marysse_logo_footer.png" alt="Marysse Logo" class="mx-auto max-w-[180px] logofootbottom" />
      </div>
      <div class="font-light">BY MARIA ASSUNTA ZANGONE</div>
      <div class="font-light">
        &copy; MARYSSE DESIGN 2025 | P. IVA: 13993600967 | REGISTERED OFFICE: VIA LOMELLINA 12, MILAN (MI) ITALY
      </div>
      <div class="font-light">
        <a href="/privacy" class="text-[#f4f2f4] hover:opacity-70">Privacy Policy</a>
        <span class="mx-2">|</span>
        <a href="/cookie-policy" class="text-[#f4f2f4] hover:opacity-70">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>

